@model ListenViewModel

@*
    TODO: Chỉnh sửa url của thể loại
*@

@{
    SongViewModel song = Model.Song;

    Layout = "_Layout";
    ViewBag.Title = $"{song.Name} - {song.ArtistsToString}";
}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-12 mb-3">
                <h2 class="mb-0">Đang phát bài hát: @song.Name - @song.ArtistsToString</h2>
                <p class="m-0">Lượt nghe: @song.Views.ToString("N0")</p>
                <p class="m-0">Năm phát hành: @song.Year.ToString()</p>
                <p class="m-0">
                    Thể loại:
                    <a href="">@song.Category</a>
                </p>
            </div>

            <div class="col-12 m-0">
                <div class="rounded" id="player"></div>
            </div>
        </div>
    </div>
</div>

<partial name="Partials/Suggestions" model="Model.Suggestions" />

@section Styles
{
    <link href="https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.css" rel="stylesheet">
}

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.js"></script>
    <!--suppress JSUnresolvedFunction -->
    <script>
        (() => {
            new APlayer({
                container: document.getElementById('player'),
                theme: '#5e72e4',
                audio: {
                    name: '@song.Name',
                    artist: '@song.ArtistsToString',
                    url: '@song.Url',
                    cover: '@song.Thumbnail'
                }
            });
        })();
    </script>
}