@model ListenViewModel

@*
    TODO: Chỉnh sửa url của thể loại
*@

@{
    Layout = "_Layout";
    ViewBag.Title = $"{Model.Song.Name} - {Model.Song.ArtistsToString}";
}

<!-- Phần nghe nhạc -->
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-12 mb-3">
                <h2 class="mb-0">Đang phát bài hát: @Model.Song.Name - @Model.Song.ArtistsToString</h2>
                <p class="m-0">Lượt nghe: @Model.Song.Views.ToString("N0")</p>
                <p class="m-0">Năm phát hành: @Model.Song.Year.ToString()</p>
                <p class="m-0">
                    Thể loại:
                    <a href="">@Model.Song.Category</a>
                </p>
            </div>

            <div class="col-12 m-0">
                <div class="rounded" id="player"></div>
            </div>
        </div>
    </div>
</div>

<!-- Gợi ý -->
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="align-items-center col-12 d-flex mb-2">
                <h2 class="mb-0 text-uppercase">Gợi ý</h2>
            </div>

            @foreach (SongViewModel song in Model.Suggestions)
            {
                <div class="col-6 col-lg-2 col-sm-4">
                    @await Component.InvokeAsync("Song", song)
                </div>
            }
        </div>

        <div class="row">
            <div class="col-12">
                <div id="fb-root"></div>
                <div class="fb-comments" data-href="@(Url.ActionLink("Listen", "Song", new { Id = Model.Song.Id }))" data-numposts="5" data-width="100%"></div>
            </div>
        </div>
    </div>
</div>

@section Styles
{
    <link href="https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.css" rel="stylesheet">
    <link href="~/css/aplayer.css" rel="stylesheet">
}

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.js"></script>
    <!--suppress JSUnresolvedFunction -->
    <script>
        (() => {
            new APlayer({
                container: document.getElementById('player'),
                theme: '#5e72e4',
                audio: {
                    name: '@Model.Song.Name',
                    artist: '@Model.Song.ArtistsToString',
                    url: '@Model.Song.Url',
                    cover: '@Model.Song.Thumbnail'
                }
            });
        })();
    </script>
    
    <script async crossorigin="anonymous" defer nonce="1YzDEt2A" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v7.0&appId=647918692473856&autoLogAppEvents=1"></script>
}