@using CPMusic.Areas.Admin.Models;
@using System.Text.Json
@model List<Statistical>

@{
    ViewData["Title"] = "Trang Chủ";
    ViewData["UseChartJs"] = true.ToString();
}

@section HeaderCardStats
{
    <div class="row">
        @foreach (Statistical statistical in Model)
        {
            <div class="col-xl-3 col-md-6">
                <div class="card card-stats">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title text-uppercase text-muted mb-0">@statistical.Name</h5>
                                <span class="h2 font-weight-bold mb-0">
                                    @Convert.ToInt32(statistical.Total).ToString("N0")
                                </span>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape @statistical.BackgroundIcon text-white rounded-circle shadow">
                                    <i class="ni ni-@statistical.Icon"></i>
                                </div>
                            </div>
                        </div>
                        <p class="mt-3 mb-0 text-sm">
                            @if (statistical.Percent >= 0)
                            {
                                <span class="text-success mr-2">
                                    <i class="fa fa-arrow-up"></i> @statistical.Percent.ToString("0%")
                                </span>
                            }
                            else
                            {
                                <span class="text-danger mr-2">
                                    <i class="fa fa-arrow-down"></i> @statistical.Percent.ToString("0%")
                                </span>
                            }
                            <span class="text-nowrap">So với tháng @DateTime.Now.AddMonths(-1).ToString("MM / yyyy")</span>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
}

<!-- Thống kê bài hát -->
<div class="row justify-content-center">
    <div class="col-12 col-xl-6">
        <div class="card bg-default">
            <div class="card-header bg-transparent">
                <div class="row align-items-center">
                    <div class="col">
                        <h6 class="text-light text-uppercase ls-1 mb-1">Thống kê</h6>
                        <h5 class="h3 text-white mb-0">Bài Hát</h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="chart">
                    <canvas id="chart-song"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-xl-6">
            <div class="card bg-default">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="text-light text-uppercase ls-1 mb-1">Thống kê</h6>
                            <h5 class="h3 text-white mb-0">Tài khoản</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <canvas id="chart-account"></canvas>
                    </div>
                </div>
            </div>
        </div>
</div>

@section Scripts
{
    <!--suppress JSUnresolvedFunction -->
    <script>
    function renderChart(id, data) {
        const chart = document.getElementById(id);
        new Chart(chart, {
            type: 'line',
            data: {
                labels: Array.from({ length: data.length }, (_, i) => `Tháng ${i+1}`),
                datasets: [{
                    data,
                }]
            }
        });
    }
    
    renderChart('chart-song', @Html.Raw(JsonSerializer.Serialize(ViewData["SongStatisticsPerMonth"])));
    renderChart('chart-account', @Html.Raw(JsonSerializer.Serialize(ViewData["AccountStatisticsPerMonth"])));
    </script>
}