@using System.Text.Json
@model List<StatisticalViewModel>

@{
    ViewData["Title"] = "Trang Chủ";
    ViewData["UseChartJs"] = true.ToString();
}

@section HeaderCardStats
{
    <div class="row">
        @foreach (StatisticalViewModel statistical in Model)
        {
            <div class="col-md-6 col-xl-3">
                <div class="card card-stats">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title mb-0 text-muted text-uppercase">@statistical.Name</h5>
                                <span class="font-weight-bold h2 mb-0">
                                    @Convert.ToInt32(statistical.Total).ToString("N0")
                                </span>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape @statistical.BackgroundIcon text-white rounded-circle shadow">
                                    <i class="ni ni-@statistical.Icon"></i>
                                </div>
                            </div>
                        </div>
                        <p class="mb-0 mt-3 text-sm">
                            @if (statistical.Percent >= 0)
                            {
                                <span class="mr-2 text-success">
                                    <i class="fa fa-arrow-up"></i> @statistical.Percent.ToString("0%")
                                </span>
                            }
                            else
                            {
                                <span class="mr-2 text-danger">
                                    <i class="fa fa-arrow-down"></i> @statistical.Percent.ToString("0%")
                                </span>
                            }
                            <span class="text-nowrap">So với tháng @DateTime.Now.AddMonths(-1).ToString("MM / yyyy")</span>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
}

<!-- Thống kê bài hát -->
<div class="justify-content-center row">
    <div class="col-12 col-xl-6">
        <div class="bg-default card">
            <div class="bg-transparent card-header">
                <div class="align-items-center row">
                    <div class="col">
                        <h6 class="ls-1 mb-1 text-light text-uppercase">Thống kê</h6>
                        <h5 class="h3 mb-0 text-white">Bài Hát</h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="chart">
                    <canvas id="chart-song"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-xl-6">
        <div class="bg-default card">
            <div class="bg-transparent card-header">
                <div class="align-items-center row">
                    <div class="col">
                        <h6 class="ls-1 mb-1 text-light text-uppercase">Thống kê</h6>
                        <h5 class="h3 mb-0 text-white">Tài khoản</h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="chart">
                    <canvas id="chart-account"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <!--suppress JSUnresolvedFunction -->
    <script>
    function renderChart(id, data) {
        const chart = document.getElementById(id);
        new Chart(chart, {
            type: 'line',
            data: {
                labels: Array.from({ length: data.length }, (_, i) => `Tháng ${i+1}`),
                datasets: [{
                    data,
                }]
            }
        });
    }
    
    renderChart('chart-song', @Html.Raw(JsonSerializer.Serialize(ViewData["SongStatisticsPerMonth"])));
    renderChart('chart-account', @Html.Raw(JsonSerializer.Serialize(ViewData["AccountStatisticsPerMonth"])));
    </script>
}