@model List<CPMusic.Areas.Admin.Controllers.HomeController.StaticialStats>

@{
    ViewData["Title"] = "Trang Chủ";
    ViewData["CardHeader"] = "Thống kê";
}

@section HeaderCardStats
{
    <div class="row">
        @foreach (var stats in @Model)
        {
            <div class="col-xl-3 col-md-6">
                <div class="card card-stats">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title text-uppercase text-muted mb-0">@stats.Name</h5>
                                <span class="h2 font-weight-bold mb-0">
                                    @Convert.ToInt32(stats.Total).ToString("N0")
                                </span>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                                    <i class="ni ni-note-03"></i>
                                </div>
                            </div>
                        </div>
                        <p class="mt-3 mb-0 text-sm">
                            @if (stats.Percent >= 0)
                            {
                                <span class="text-success mr-2">
                                    <i class="fa fa-arrow-up"></i> @stats.Percent.ToString("0%")
                                </span>
                            }
                            else
                            {
                                <span class="text-danger mr-2">
                                    <i class="fa fa-arrow-down"></i> @stats.Percent.ToString("0%")
                                </span>
                            }
                            <span class="text-nowrap">So với tháng @DateTime.Now.AddMonths(-1).ToString("MM / yyyy")</span>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
}

<h1>Hello World</h1>