@using static System.IO.File
@using static System.IO.Path
@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Identity
@using AutoMapper
@inject IWebHostEnvironment Environment
@inject IMapper Mapper
@inject UserManager<User> UserManager

@{
    UserViewModel user = Mapper.Map<UserViewModel>(await UserManager.GetUserAsync(User));
}

@functions
{
    string GetPathImage(string path)
    {
        if (IsPathRooted(path))
        {
            path = path.Substring(1, path.Length - 1);
        }

        return Combine(Environment.WebRootPath, path);
    }
}

<ul class="align-items-center ml-auto ml-md-0 navbar-nav">
    <li class="dropdown nav-item">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link pr-0" data-toggle="dropdown" href="#" role="button">
            <div class="align-items-center media">
                <span class="avatar avatar-sm rounded-circle">
                    @* Tài khoản không có avatar thì hiển thị icon user mặc định *@
                    @if (string.IsNullOrEmpty(user.Avatar) || !Exists(GetPathImage(user.Avatar)))
                    {
                        <i class="ni ni-single-02"></i>
                    }
                    else
                    {
                        <img src="@user.Avatar" alt="@user.Name - @user.Email" />
                    }
                </span>
                <div class="d-lg-block d-none media-body ml-2">
                    <span class="font-weight-bold mb-0 text-sm">@user.Name</span>
                </div>
            </div>
        </a>

        <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-header">
                <h6 class="m-0 text-overflow">Xin chào!</h6>
            </div>
            <a asp-action="Index" asp-area="" asp-controller="Home" class="dropdown-item">Trang nghe nhạc</a>
            <a class="dropdown-item" onclick="$('#logoutFrm').submit();" type="button">
                <i class="ni ni-user-run"></i>
                <span>Đăng xuất</span>
            </a>
        </div>

        <form id="logoutFrm" class="d-none" asp-area="Identity" asp-page="/Account/Logout"
              asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        </form>
    </li>
</ul>