@model SongUpdateInputModel

@{
    ViewData["Title"] = "Danh sách bài hát";
}

<div class="justify-content-center row">
    <div class="col-12">
        <div class="border-0 card">
            <div class="card-header">
                <h6 class="ls-1 mb-1 text-uppercase">Quản lý bài hát</h6>
                <div class="heading-title mb-0">Danh sách bài hát</div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-3 mt-md-3">
                        <img class="d-block img-fluid mx-auto rounded-circle" src="@Model.Thumbnail" alt="@Model.Name" />
                        <audio class="mt-4 w-100" controls>
                            <source src="@Model.Url" type="audio/mpeg" />
                        </audio>
                    </div>
                    <div class="col-12 col-md-9">
                        <form asp-action="Edit" asp-area="Admin" asp-controller="Song" enctype="multipart/form-data" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <div class="row">
                                <div class="col-12 form-group">
                                    <label asp-for="Name" class="control-label"></label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="col-12 form-group">
                                    <label asp-for="OtherName" class="control-label"></label>
                                    <input asp-for="OtherName" class="form-control" />
                                    <span asp-validation-for="OtherName" class="text-danger"></span>
                                </div>
                                <div class="col-12 form-group">
                                    <label asp-for="UploadThumbnail" class="control-label"></label>
                                    <input asp-for="UploadThumbnail" class="form-control" type="file" />
                                    <span asp-validation-for="UploadThumbnail" class="text-danger"></span>
                                </div>
                                <div class="col-12 form-group">
                                    <label asp-for="UploadSong" class="control-label"></label>
                                    <input asp-for="UploadSong" class="form-control" type="file" accept="audio/mpeg" />
                                    <span asp-validation-for="UploadSong" class="text-danger"></span>
                                </div>
                                <div class="col-12 form-group">
                                    <label asp-for="Year" class="control-label"></label>
                                    <input asp-for="Year" class="form-control" />
                                    <span asp-validation-for="Year" class="text-danger"></span>
                                </div>
                                <div class="col-12 form-group">
                                    <label asp-for="CategoryId" class="control-label"></label>
                                    <select class="form-control" asp-for="CategoryId"
                                            asp-items="@(new SelectList(ViewBag.Categories, "Id", "Name"))">
                                    </select>
                                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                                </div>
                                <div class="col-12 form-group">
                                    <label asp-for="ArtistsId" class="control-label"></label>
                                    <select class="form-control" asp-for="ArtistsId" data-toggle="select2" name="ArtistsId[]" multiple
                                            asp-items="@(new SelectList(ViewBag.Artists, "Id", "Name"))">
                                    </select>
                                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                                </div>
                                <div class="col-12 d-flex justify-content-between justify-content-md-end">
                                    <a asp-action="Index" class="btn btn-outline-default">Hủy bỏ</a>
                                    <button class="btn btn-primary" type="submit">Cập nhật</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles
{
    <link href="https://raw.githack.com/ttskch/select2-bootstrap4-theme/master/dist/select2-bootstrap4.css" rel="stylesheet">
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $('[data-toggle="select2"]').select2();
    </script>
}