@model IEnumerable<SongViewModel>

@{
    ViewData["Title"] = "Danh sách bài hát";
}

<div class="row justify-content-center">
    <div class="col-12">
        <div class="card border-0">
            <div class="card-header">
                <h6 class="text-uppercase ls-1 mb-1">Quản lý bài hát</h6>
                <div class="heading-title mb-0">Danh sách bài hát</div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div>
                        <table class="table align-items-center">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col" style="width: 10%;">
                                    @Html.DisplayNameFor(model => model.Thumbnail)
                                </th>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.OtherName)
                                </th>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.Year)
                                </th>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.Views)
                                </th>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.Category)
                                </th>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.Artists)
                                </th>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.CreatedAt)
                                </th>
                                <th scope="col">Chức năng</th>
                            </tr>
                            </thead>
                            <tbody class="list">
                            @foreach (SongViewModel song in Model)
                            {
                                <tr>
                                    <td>
                                        <img class="img-fluid" src="@song.Thumbnail" alt="@song.Name" />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(_ => song.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(_ => song.OtherName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(_ => song.Year)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(_ => song.Views)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(_ => song.Category)
                                    </td>
                                    <td>
                                        @string.Join(", ", song.Artists.Select(artist => artist?.Name))
                                    </td>
                                    <td>
                                        @Html.DisplayFor(_ => song.CreatedAt)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@song.Id">Chỉnh sửa</a> |
                                        <a asp-action="Details" asp-route-id="@song.Id">Thông tin</a> |
                                        <a asp-action="Delete" asp-route-id="@song.Id">Xóa</a>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>