@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Core.Common
@using X.PagedList
@using Microsoft.EntityFrameworkCore.Internal

@model IPagedList<Song>

@{
    ViewData["Title"] = "Danh sách bài hát";
}

<div class="justify-content-center row">
    <div class="col-12">
        <div class="border-0 card">
            <div class="card-header">
                <h6 class="ls-1 mb-1 text-uppercase">Quản lý bài hát</h6>
                <div class="heading-title mb-0">Danh sách bài hát</div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="align-items-center table">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col" style="width: 10%;">Ảnh đại diện</th>
                            <th scope="col">Tên bài hát</th>
                            <th scope="col">Tên khác</th>
                            <th scope="col">Năm phát hành</th>
                            <th scope="col">Lượt nghe</th>
                            <th scope="col">Quốc gia</th>
                            <th scope="col">Thể loại</th>
                            <th scope="col">Nghệ sĩ</th>
                            <th scope="col">Chức năng</th>
                        </tr>
                        </thead>
                        <tbody class="list">
                        @foreach (var song in Model)
                        {
                            <tr>
                                <td>
                                    <img class="img-fluid" src="@song.Thumbnail" alt="@song.Name" />
                                </td>
                                <td>@song.Name</td>
                                <td>@song.OtherName</td>
                                <td>@song.Year.ToString()</td>
                                <td>@song.Views.ToString()</td>
                                <td>@song.Country.Name</td>
                                <td>@song.Category.Name</td>
                                <td>@song.ArtistSongs.Select(artistSong => artistSong.Artist).Select(artist => artist.Name).Join()</td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@song.Id.ToString()">Chỉnh sửa</a> |
                                    <a asp-action="Details" asp-route-id="@song.Id.ToString()">Thông tin</a> |
                                    <a asp-action="Delete" asp-route-id="@song.Id.ToString()">Xóa</a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>

                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
                {
                    ContainerDivClasses = new[] { "d-flex justify-content-center" },
                    LiElementClasses = new[] { "page-item" },
                    PageClasses = new[] { "page-link" }
                })
            </div>
        </div>
    </div>
</div>